.background {
  background-color: #000;
}
.container-fluid {
  background-color: #ffff00;
  height: 800px;
}
.header {
  background-color: #0000ff;
  height: 100px;
  margin-top: 100px;
}
.nav {
  background-color: #005f00;
  height: 50px;
}
.content {
  background-color: #ff0000;
  height: 150px;
}
.aside {
  background-color: #76c7ff;
  height: 150px;
}
.promo1, .promo2, .promo3, .promo4 {
  background-color: #ff5300;
  height: 100px;
}
.footer {
  background-color: #000;
  height: 70px;
}
div {
  border: 2px solid black;
}
.left {
  background-color: #9063f1;
  height: 200px;
}
.right{
  background-color: #9063f1;
  height: 200px;
}
.col-md-1 {
  height: 150px;
}
/*media query starts*/

@media/*<---rule*/ screen/*<---media*/ and (min-width: 768px) {
  .right {
    background-color: #ff7f01;
  }
}
@media screen and (min-width: 575px) {
  .left {
    background-color: #ff00ff;
  }
}
